.address_space
{
}

.node
{
	margin-left: 10px;
}

.node_content
{
	font-weight: bold;
}

.node_label
{
}

.node_children
{
	
}

.node_state
{
	color: red;
	float: left;
	width: 20;
	text-align: center;
}